//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mihutescudenis.github.io[nc]
RewriteRule ^(.*)$ http://www.mihutescudenis.github.io/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg.png.css|js|svg|woff2|woff)$">
Header set Cache-Control "public, proxy-revalidate, max-age=160704000"
</FilesMatch>

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
